ChaosClientIntermediary/.vscode
ChaosClientIntermediary/bin
ChaosClientIntermediary/obj
ChaosHostingApi/.vs
ChaosHostingApi/.vscode
ChaosHostingApi/bin
ChaosHostingApi/obj
ChaosHostingApi/publish
ChaosHostingUI/node_modules
ChaosClientIntermediary/.vs
ChaosClientIntermediary/publish
ChaosHostingUI/build
ChaosModV/ChaosMod/x64
ChaosModV/ConfigApp/bin
ChaosModV/ConfigApp/obj
*.user
ChaosModV/packages
ChaosModV/TwitchChatVotingProxy/bin
ChaosModV/TwitchChatVotingProxy/obj
ChaosModV/TwitchOverlayConfig/bin
ChaosModV/x64
ChaosModV/TwitchOverlayConfig/obj
ChaosModV/.vs
ChaosHostingApi/logs
